extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let bottleid = toShow._id 
    - let brand = toShow.brand
    - let bottlesModel = toShow.bottlesModel 
    - let Quantity = toShow.Quantity 
    - let actionid = "/resource/bottle/" + bottleid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='bottleAttr mr-3') bottle ID is: 
        div #{bottleid} 
      div.row 
        div(class='bottleAttr mr-3') brand is: 
        div #{brand} 
      div.row 
        div(class='bottleAttr mr-3') bottlesModel is: 
        div #{bottlesModel} 
      div.row 
        div(class='bottleAttr mr-3') Quantity is: 
        div #{Quantity} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the bottle collection 
      window.location.href='/bottles' 
    } 
  script.
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'     // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/bottle' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 