extends layout

block content

  h1(class="Title")= title
   if (toShow == null)
    h2 No instance to Update
   else
  - let bottleid = toShow._id   
  - let brand  = toShow.brand
  - let bottlesModel = toShow.bottlesModel
  - let Quantity = toShow.Quantity 
    div
      div.row
        div(class='bottleAttr mr-3') bottle ID is:
        div #{bottleid}
      div.row
        div(class='bottleAttr mr-3') brand is:
        div #{brand}
      div.row
        div(class='bottleAttr mr-3') bottlesModel is:
        div #{bottlesModel}
      div.row
        div(class='bottleAttr mr-3') Quantity is:
        div #{Quantity}